.formulario{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: 350px;
    padding: 38px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}
.formulario p{

    text-align: center;
}

.form{
width: 100%;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid #c51fb7;

}
.button{
    width: 100%;
    background: #665cf1;
    border: none;
    padding: 8px;
    margin:12px 0;

}